body{
    background: black;
}

.search{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.col-search{
    width: 30em;
}

.form{
    border-radius: 30px;
    border-color: rgb(187, 132, 238);
    background-color: black;
    width: 15em;
}

.search-button{
    background-color: rgb(187, 132, 238);
    border-color: rgb(187, 132, 238);
    border-radius: 30px;
    
}

.col-offer{
    margin-top: 5em;
}