.logo{
    width: 30em;
}

.favourite{
    color: rgb(187, 132, 238);
    margin-left: 33em;
    margin-right: 0.5em;
}

.cart{
    color: rgb(187, 132, 238);
    margin-right: 0.5em;
}

.account{
    color: rgb(187, 132, 238);
}